.vt.bordered .td,
.vt.bordered .th {
  position: relative;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.vt.bordered .vt-footer {
  position: relative;
  border-bottom: 1px solid #000000;
}
.vt.bordered .vt-empty-text {
  position: relative;
  border-bottom: 1px solid #000000;
}
