@import (reference) "variable";
@import (reference) "mixins";

.@{tablePrefixCls}.bordered {
  .th, .td {
    position: relative;
    //.border-right-bottom();
    border-right: 1px solid @tableBorderColor;
    border-bottom: 1px solid @tableBorderColor;
  }
}