@import (reference) "variable";
@import (reference) "mixins";

.@{tablePrefixCls}.bordered {
  .tr {
    position: relative;
    border-bottom: 1px solid @tableBorderColor;
  }
  .th, .td {
    position: relative;
    .border-right();
  }
}