.vt.bordered .tr {
  position: relative;
  border-bottom: 1px solid #233431;
}
.vt.bordered .th,
.vt.bordered .td {
  position: relative;
}
.vt.bordered .th:before,
.vt.bordered .td:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
  transform-origin: 0 0;
  transform: scale(0.5);
  box-sizing: border-box;
  pointer-events: none;
  border-width: 2px;
  border-style: solid;
  border-color: #233431;
  z-index: 10;
}
.vt.bordered .th:before,
.vt.bordered .td:before {
  border: 0;
  border-right: 2px solid #233431;
}
