@import (reference) "variable";

.borderBottom() {
  border-bottom: 1px solid @tableBorderColor;
}

.borderRight() {
  border-right: 1px solid @tableBorderColor;
}

.@{tablePrefixCls}.bordered {
  .tr {
    position: relative;
    .borderBottom();
  }
  .td {
    position: relative;
    .borderRight();
  }
  .th.has-child {
    position: relative;
    .borderRight();
    .borderBottom()
  }
  .th:not(.has-child) {
    position: relative;
    .borderRight();
  }
  .@{tablePrefixCls}-footer {
    position: relative;
    .borderBottom();
  }
  .@{tablePrefixCls}-empty-text {
    position: relative;
    .borderBottom();
  }
}