@import (reference) "variable";

.sorter() {
  position: relative;
  background: @tableSorterColor;
  width: 2px;
  border-radius: 1px;
  height: 12px;
  &:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: transparent;
    border: 2px solid transparent;
    box-sizing: border-box;
    transform-origin: 0 0;
  }
}

.sorter-up() {
  .sorter();
  &:after {
    top: -1px;
    border-left: 2px solid @tableSorterColor;
    border-top: 2px solid @tableSorterColor;
    transform: rotate(45deg);
  }
}

.sorter-down() {
  .sorter();
  &:after {
    bottom: 0;
    border-right: 2px solid @tableSorterColor;
    border-bottom: 2px solid @tableSorterColor;
    transform: rotate(45deg);
  }
}

.vt-icon {
  content: '';
  pointer-events: none;
  box-shadow: inset 0 0 0 @10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vt-icon-plus() {
  position: relative;
  &:before, &:after {
    .vt-icon;
  }
  &:after {
    height: @8;
    width: @1;
  }
  &:before {
    width: @8;
    height: @1;
  }
}

.vt-icon-minus() {
  &:before {
    .vt-icon;
  }
  &:before {
    width: @8;
    height: @1;
  }
}