.vt.bordered .td,
.vt.bordered .th {
  position: relative;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.vt.bordered .vt-footer {
  position: relative;
  border-bottom: 1px solid #000000;
}
.vt.bordered .vt-empty-text {
  position: relative;
  border-bottom: 1px solid #000000;
}
.vt {
  overflow: hidden;
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.2;
  color: #ffebc8;
  cursor: default;
}
.vt-content {
  background: #1E2B29;
}
.vt-empty-text {
  color: #9ab9b9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #1E2B29;
}
.vt-footer {
  background: #1E2B29;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.vt-header {
  background: #121a19;
  color: #7b8082;
  overflow: scroll;
}
.vt-header .row-group {
  display: inline-block;
  -webkit-transition: all 50ms;
  -o-transition: all 50ms;
  transition: all 50ms;
  float: left;
}
.vt-header .col-group {
  display: block;
  position: relative;
}
.vt-body {
  overflow-y: scroll;
  background: #1E2B29;
}
.vt-row-0 {
  background: #1E2B29;
}
.vt-row-1 {
  background: #121A19;
}
.vt-row-fixed {
  background-color: #1E2B29;
}
.vt-hover > .td {
  background: #193D37 !important;
}
.vt-row-fixed-top:last-child {
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.4);
}
.vt-row-fixed-bottom:first-child {
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.4);
}
.vt-sorter {
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  text-align: center;
}
.vt-sorter-desc {
  margin: 0 auto;
}
.vt-sorter-asc {
  margin: 0 auto;
}
.vt-fixed-left,
.vt-fixed-right {
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 2;
  background: #1E2B29;
}
.vt-fixed-left .table,
.vt-fixed-right .table {
  width: auto;
  min-width: 0;
}
.vt-fixed-left .vt-body-inner,
.vt-fixed-right .vt-body-inner {
  overflow: scroll;
}
.vt-fixed-left .vt-header,
.vt-fixed-right .vt-header,
.vt-fixed-left .vt-body,
.vt-fixed-right .vt-body {
  overflow: hidden;
}
.vt-fixed-left .vt-header,
.vt-fixed-right .vt-header {
  margin-right: -20px;
  padding-right: 0;
}
.vt-fixed-left {
  left: 0;
}
.vt-fixed-left .vt-body-inner {
  margin-right: -20px;
  padding-right: 20px;
}
.vt-fixed-header .vt-fixed-left .vt-body-inner {
  padding-right: 0;
}
.vt-fixed-right {
  right: 0;
}
.vt .table {
  width: 100%;
  color: inherit;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}
.vt .thead > tr {
  display: table-row;
  width: auto;
}
.vt .tbody {
  display: block;
  position: relative;
  min-height: 30px;
}
.vt .tr {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.vt .th,
.vt .td {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  padding: 0 6px;
  height: 100%;
  float: left;
}
.vt .has-child {
  float: none;
}
.vt-select {
  display: inline-block;
  line-height: 1;
  background: #0e1a18;
  border: 1px solid #136c5e;
  margin-right: 5px;
  width: 1em;
  height: 1em;
  cursor: pointer;
}
.vt-select.selected {
  border: none;
  background: transparent;
}
.vt-select.selected > svg {
  color: #ff9200;
  border-radius: 2px;
}
.vt-select-checkbox {
  border-radius: 2px;
}
.vt-select-radio {
  border-radius: 50%;
}
.vt-select-disabled {
  border-color: #888;
  cursor: not-allowed;
}
.vt-expanded-icon {
  width: 12px;
  height: 12px;
  line-height: 12px;
  margin: 1px 5px 1px 1px;
  border-radius: 50%;
  position: relative;
  color: #0a0f0e;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.vt-expanded-icon:not(.expanded) {
  background: #f9c152;
}
.vt-expanded-icon.expanded {
  background: #ffebc8;
}
.vt.vt-scroll-position-x-left .vt-fixed-right,
.vt.vt-scroll-position-x-middle .vt-fixed-right {
  -webkit-box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.4);
          box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.4);
}
.vt.vt-scroll-position-x-right .vt-fixed-left,
.vt.vt-scroll-position-x-middle .vt-fixed-left {
  -webkit-box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.4);
          box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.4);
}
.vt.vt-scroll-position-y-top .vt-fixed-bottom,
.vt.vt-scroll-position-y-middle .vt-fixed-bottom {
  -webkit-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.4);
}
.vt.vt-scroll-position-y-bottom .vt-fixed-top,
.vt.vt-scroll-position-y-middle .vt-fixed-top {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}
