.vt.bordered .th,
.vt.bordered .td {
  position: relative;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.vt {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  line-height: 1.5;
  background: #172422;
}
.vt-header {
  background: #16211f;
  color: #7b8082;
  overflow-y: scroll;
}
.vt-body {
  color: #ffebc8;
  overflow-y: scroll;
}
.vt-hover > .td {
  background: #193D37 !important;
}
.vt .table {
  width: 100%;
  color: inherit;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}
.vt .thead > tr {
  display: table-row;
  width: auto;
}
.vt .tbody {
  display: block;
  position: relative;
}
.vt .tbody > .tr > .td {
  background: #172422;
}
.vt .tbody > .tr:nth-child(2n) > .td {
  background: #121A19;
}
.vt .tr {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}
.vt .th,
.vt .td {
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding: 0;
}
